
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StudentManagementSystem.Common.Models.DepartmentVM

<h5>Add new department</h5>
<h7>Enter info about the new department</h7>
<div asp-validation-summary = "ModelOnly"></div>
<form asp-controller="Departments" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.Name)</label>
        <input asp-for="Name" type="text" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.Description)</label>
        <input asp-for="Description" type="text" class="form-control" id="Description">
    </div>

    <button type="submit" class="btn btn-outline-primary btn-sm mb-0 me-3">Save</button>
</form>
